* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

html{
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
}

.main-container{
  width: 95%;
  margin: 20px auto;
  padding-top: 40px;
}

.ingles-icon,
.dark-mode-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.ingles-icon img,
.dark-mode-icon img {
  width: 30px;
  height: 30px;
}

.ingles-icon img.bandera-idioma {
  position: relative;
  top: -4.5px;
  width: 40px !important;
  height: 40px !important;
  cursor: auto;
}

.ingles-icon img.change-languaje {
  width: 40px !important;
  height: 40px;
}

.nav-links {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1px 10px;
  position: relative;
  justify-content: center;
  gap: 30px;
  padding-bottom: 4px;
  height: 40px;
}

.toggle-switch {
  appearance: none;
  -webkit-appearance: none;
  height: 25px;
  width: 50px;
  border-radius: 25px;
  background-color: #ccc;
  position: relative;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.toggle-switch:checked {
  background-color: #2196f3;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #fff;
  transition: 0.2s;
}

.toggle-switch:checked::before {
  transform: translateX(25px);
}

body.dark-mode {
  background-color: #333;
  color: white;
}

body.dark-mode .nav-links {
  border-color: white;
}

.indicator-bar {
  position: absolute;
  bottom: 0;
  border-radius: 15px;
  height: 4px;
  background-color: #2196f3;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 5px 0;
}

.nav-links a:hover {
  color: #2196f3;
  transform: scale(1.1);
}

body.dark-mode .nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 5px 0;
}

body.dark-mode .nav-links a:hover {
  color: #2196f3;
  transform: scale(1.1);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}

.footer-container {
  width: 95%;
  border: 2px solid black;
  border-radius: 10px;
}

.footer-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 4px;
}

.footer-content .titulos-footer .nombre-footer {
  font-size: 35px;
}

.footer-content .titulos-footer .dev-titulo-footer {
  color: #2196f3;
  font-size: 20px;
}

body.dark-mode .footer-container {
  width: 95%;
  border: 2px solid white;
  border-radius: 10px;
}

.titulos-redirects {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.redirects-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  left: 260px;  
  gap: 5px;
}

.redirects-footer a:hover{
  color: #2196f3;
}

body.dark-mode .redirects-footer a:hover{
  color: #2196f3;
}

.titulos-footer {
  position: absolute;
  left: 90px;
  padding-top: 15px;
  padding-right: 100px;
}

.titulos-footer::before {
  content: '';
  position: absolute;
  right: 0; 
  top: 25px;
  bottom: 0; 
  width: 3px; 
  background-color: #2196f3; 
  border-bottom-left-radius: 10px; 
}

.redirects-footer a {
  text-decoration: none;
  color: #000;
}

body.dark-mode .redirects-footer a {
  text-decoration: none;
  color: white;
}


.links-contactos {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  border-top: 3px solid lightgrey;
  padding-top: 10px;
  width: 80%;
}

.links-contactos img{
  width: 50px;
}

.phone-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.phone-icon{
  width: 30px;
}

.phone-number-footer img{
  top: 4px; 
  width: 30px;
}

.phone-number-footer{
  padding-left: 5px; 
}

.ubicacion-footer{
  padding-top: 15px;
}